[Unit]
Description=Upload Data Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Aposa2024-raspberrypi-main/upload_data
ExecStart=/root/Aposa2024-raspberrypi-main//upload_data
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=upload-data

[Install]
WantedBy=multi-user.target